# Dependencies
node_modules/
.pnpm-store/
.idea/

# Build outputs
dist/
bin/
.next/
out/
build/
*.tsbuildinfo

# Environment files
.env
.env.local
.env.production

# Logs & temp
*.log
npm-debug.log*
yarn-debug.log*
bun.lockb
.turbo
.DS_Store

# Persistence & data
pgdata/
redisdata/
runtime-config.json
